.adventure-container {
  height: 84.5vh;
  display: flex;
  flex-direction: column;
}

.container-tower-details {
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tower-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  cursor: pointer;
}

.tower-details span{
  color: #9488B6;
  font-size: 25px;
}

.img-tower {
  height: 90%;
}

.tower-progress {
  border: 5px solid red;

  background-color: #593796;
  flex-grow: 1;
  border-style: none;
  border-top: 10px solid #26114b;
  color: #f0f0f5;
}

.tower-progress h1 {
  display: flex;
  justify-content: center;
  margin-top: auto;
  gap: 1rem;
  word-spacing: 1rem;
  font-weight: normal;
  
}

.completed,
.total {
  color: #ffc658;
}
