body {
  background-color: #ffc658;
  height: 100vh;
}

.signin-wrapper {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-container {
  height: 85%;
  width: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
}

.right-container {
  border: 2px solid black;
  height: 95%;
  flex-grow: 1;
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-container {
  height: 95%;
  width: 35%;
  border-radius: 10px;
  background-color: #fcffcd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 10px;
}

.img-login {
  width: 110%;
  margin-top: auto;
}
