.main-customtower {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customtower-top-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header-customtower {
  height: 50px;
  width: 300px;
  background-color: #ffc658;
  stroke-width: 5px;
  border: 3px solid #d96800;
  color: #fff;
  font-size: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.main-container {
  height: 500px;
  width: 600px;
  border-radius: 22px;
  border: 8px solid #d96800;
  background: linear-gradient(61deg, #ffc658 5.53%, #fff 88.98%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}

.main-top-customtower {
  top: 5px;
  width: 90%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.search-customtower {
  width: 70%;
  font-size: 30px;
  color: #593796;
  margin-right: 20px;
}

.word-container-scroll-customtower {
  margin-top: 50px;
  height: 80%;
  width: 90%;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.word-container-customtower {
  height: 30px;
  width: 80%;
  border-radius: 9px;
  border: 5px solid #593796;
  background: #9a6dea;
  box-shadow: 0px 2px 2px 1px #000 inset;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.words-customtower {
  padding-left: 30px;
}
