.main-generatecode{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generatecode-top-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 20px;
}

.main-container-code{
    border-radius: 22px 22px 22px 22px;
    background: #95A299;
    padding: 10px; 
}

.main-border-code{
    box-shadow: inset 3px 3px 5px #000;
    border-radius: 22px;
    height: 500px;
    width: 600px;
    border: 10px solid #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(to top right, #461386, #B36DEA);
}

.code-container{
    width: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30%;
}

.container-title{
    color: #fff;
    font-weight: 100;
}

.generated-code{
    width: 80%;
    font-size: 30px;
    text-align: center;
    color: #FFC658;
    letter-spacing: 10px;
}