.main-inventory{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-inventory-top-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 20px;
}

.header-main-inventory{
    height: 50px;
    width: 300px;
    background-color: #FFC658;
    stroke-width: 5px;
    border: 3px solid #D96800;
    color: #fff;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.main-container{
    height: 500px;
    width: 600px;
    border-radius: 22px;
    border: 8px solid #D96800;
    background: linear-gradient(61deg, #FFC658 5.53%, #FFF 88.98%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.items-container-scroll-inventory{
    height: 80%;
    width: 90%;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-button{
    height: 25%;
    width: 20%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 5px solid #593796;
    background: #9A6DEA;
    box-shadow: 0px 5px 4px 1px #000 inset;
    margin-right: 25px;
    margin-bottom: 25px;
}