.logout-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  display: flex;
  flex-direction: column;
}

.logout-pane {
  width: 500px;
  height: 330px;
  background-color: #ffc658;
  border: 1px solid #000000;
  border-radius: 22px;

  filter: drop-shadow(#444444 1rem 1rem 7px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout-icon {
  width: 15%;
}
.details h1 {
  color: #444444;
  font-size: 30px;
  letter-spacing: 1px;
}

.btns {
  display: flex;
  justify-content: space-evenly;
}

.btns.btn-cancel {
  padding: 80px;
  height: 60px;
  width: 150px;
  border-style: none;
  border-radius: 12px;
}

.btn-logout {
  border-style: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  height: 60px;
  width: 150px;
}
