* {
  font-family: "Lilita One";
}
:root {
  --primary-color: #593796;
  --secondary-color: #ffc658;
}

body {
  background-color: #fdffdd;
  overflow-y: hidden;
}

button {
  text-transform: uppercase;
  cursor: pointer;
}

.tower-details,
.card,
button {
  transition: filter 0.3s ease, transform 0.2s ease;
}

.card:hover,
button:hover {
  filter: brightness(1.14); /* Darken the button on hover */
  transform: scale(1.05);
}

.tower-details {
  cursor: pointer;
}
.tower-details:hover {
  filter: brightness(1.14);
}

.btn-back,
.btn-remove,
.btn-exit {
  position: relative;
  background-color: #fc5776;
  border-style: none;
  border-top: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}

.btn-confirm,
.btn-next,
.btn-game,
.btn-finish,
.btn-word,
.btn-shop,
.btn-inventory,
.btn-signup,
.btn-signin,
.btn-enter-tower,
.btn-view-tower,
.btn-create-tower,
.btn-buy,
.btn-info,
.btn-logout,
.btn-close {
  position: relative;
  background-color: var(--primary-color);
  border-style: none;
  border-top: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}

.btn-save {
  position: relative;
  background-color: var(--secondary-color);
  border-style: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: capitalize;
}

.btn-go {
  position: relative;
  background-color: var(--secondary-color);
  border-style: none;
  border-top: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #d96800;
  padding: 10px 20px;
  font-size: 16px;
}

.orange-gradient {
  border: 8px solid #d96800;
  border-radius: 10px;
  background-image: linear-gradient(to top right, var(--secondary-color), #fff);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.inputs {
  border-bottom: 3px solid var(--primary-color);
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}
.input-fields {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-button:single-button {
  background-color: transparent;
  display: block;
  border-style: solid;
  height: 13px;
  width: 5px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent var(--primary-color) transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent var(--primary-color) transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 5px 5px 0 5px;
  border-color: var(--primary-color) transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: var(--primary-color) transparent transparent transparent;
}
