* {
  font-family: "Lilita One", sans-serif;
}
:root {
  --primary-color: #593796;
  --secondary-color: #ffc658;
}

body {
  background-color: #fdffdd;
}

button {
  text-transform: uppercase;
  cursor: pointer;
}

.tower-details,
.card,
button {
  transition: filter 0.3s ease, transform 0.2s ease;
}

.card:hover,
button:hover {
  filter: brightness(1.14); /* Darken the button on hover */
  transform: scale(1.05);
}

.tower-details {
  cursor: pointer;
}
.tower-details:hover {
  filter: brightness(1.14);
}

.btn-back,
.btn-remove,
.btn-exit {
  position: relative;
  background-color: #fc5776;
  border-style: none;
  border-top: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px 20px;
  font-size: 16px;

  margin-top: 10px;
  margin-left: 20px;
}

.btn-next,
.btn-game,
.btn-finish,
.btn-word,
.btn-shop,
.btn-inventory,
.btn-signup,
.btn-signin,
.btn-enter-tower,
.btn-view-tower,
.btn-create-tower,
.btn-buy,
.btn-info,
.btn-logout {
  position: relative;
  background-color: var(--primary-color);
  border-style: none;
  border-top: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}

.btn-save {
  position: relative;
  background-color: var(--secondary-color);
  border-style: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: capitalize;
}

.btn-go,
.btn-audio {
  position: relative;
  background-color: var(--secondary-color);
  border-style: none;
  border-top: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #d96800;
  padding: 10px 20px;
  font-size: 16px;
}

.btn-cancel {
  position: relative;
  background-color: #fdffdd;
  border: 2px solid #dc6900;
  border-radius: 12px;
  color: #dc6900;
  padding: 10px 20px;
  font-size: 16px;
  height: 60px;
  width: 150px;
}

.orange-gradient {
  border: 8px solid #d96800;
  border-radius: 10px;
  background-image: linear-gradient(to top right, var(--secondary-color), #fff);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.heading {
  color: #534e64;
  font-size: 36px;
  font-weight: 100;
}

.input-fields {
  background-color: transparent;
  outline: none;
  border-style: none;
  border-bottom: 2px solid #d5d5d5;
}

.input-fields::placeholder {
  color: #d5d5d5;
}

.inputs-information {
  background-color: transparent;
  outline: none;
  border-style: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  padding-bottom: 5px;
}

.inputs-information::placeholder {
  color: #fff;
}
