* {
  font-family: "Lilita One";
}
:root {
  --primary-color: #593796;
  --secondary-color: #ffc658;
}

body {
  background-color: #fdffdd;
  overflow-y: hidden;
}

button {
  text-transform: uppercase;
}

.btn-back,
.btn-remove,
.btn-exit {
  position: relative;
  background-color: #fc5776;
  border-style: none;
  border-top: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}

.btn-next,
.btn-game,
.btn-finish,
.btn-word,
.btn-shop,
.btn-inventory,
.btn-signup,
.btn-signin,
.btn-enter-tower,
.btn-view-tower,
.btn-create-tower,
.btn-buy,
.btn-info,
.btn-logout {
  position: relative;
  background-color: var(--primary-color);
  border-style: none;
  border-top: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}

.btn-save {
  position: relative;
  background-color: var(--secondary-color);
  border-style: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: capitalize;
}

.btn-go {
  position: relative;
  background-color: var(--secondary-color);
  border-style: none;
  border-top: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #d96800;
  padding: 10px 20px;
  font-size: 16px;
}

.orange-gradient {
  border: 8px solid #d96800;
  border-radius: 10px;
  background-image: linear-gradient(to top right, var(--secondary-color), #fff);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.inputs{
  border-bottom: 3px solid var(--primary-color);
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.inputs-information{
  border-bottom: 3px solid white;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: white;
}