.main-shop{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-top-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 20px;
}

.header-shop{
    height: 50px;
    width: 300px;
    background-color: #FFC658;
    stroke-width: 5px;
    border: 3px solid #D96800;
    color: #fff;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.main-container{
    height: 500px;
    width: 600px;
    border-radius: 22px;
    border: 8px solid #D96800;
    background: linear-gradient(61deg, #FFC658 5.53%, #FFF 88.98%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(calc(-200px * var(--index) + 100px));
}

.item {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: transform 0.5s ease-in-out;
    margin: auto;
}

.item.active {
    transform: scale(1.5);
}

#prev, #next {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}

