.main-viewcustomtower{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viewcustomtower-top-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container-overall{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-container-left{
    height: 80%;
    width: 40%;
    border-radius: 22px 0px 0px 22px;
    background: #95A299;
    padding: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-border-viewcustomtower{
    box-shadow: inset 3px 3px 5px #000;
    border-radius: 22px;
    height: 95%;
    width: 95%;
    border: 10px solid #666666;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(to top right, #461386, #B36DEA);
}

.main-top-viewcustomtower{
    top: 5px;
    width: 90%;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    left: 80px;
}

.search-viewcustomtower{
    width: 70%;
    font-size: 30px;
    color: #fff;
    margin-left: 10px;
}

.word-container-scroll-viewcustomtower{
    margin-top: 50px;
    height: 80%;
    width: 90%;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.word-container-viewcustomtower{
    height: 30px;
    width: 80%;
    border-radius: 9px;
    border: 5px solid #593796;
    background: #9A6DEA;
    box-shadow: 0px 2px 2px 1px #000 inset;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;  
    margin-bottom: 20px;
}

.words-viewcustomtower{
    padding-left: 30px; 
}

.divider{
    width: 10px;
    height: 60%;
    background-color: #666666;
}

.main-container-right{
    height: 80%;
    width: 40%;
    border-radius: 0px 22px 22px 0px;
    background: #95A299;
    padding: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container-right-inner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.9);
    }
}

.main-container-right-blank{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: rgb(134,132,144);
    background: radial-gradient(circle, rgba(134,132,144,1) 16%, rgba(60,60,60,1) 100%);
}

.main-top-viewparticipants{
    top: 5px;
    width: 90%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.search-viewparticipants{
    width: 70%;
    font-size: 30px;
    color: #fff;
    margin-right: 20px;
    
}

.word-container-scroll-viewparticipants{
    margin-top: 50px;
    height: 80%;
    width: 90%;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.word-container-viewparticipants{
    height: 30px;
    width: 80%;
    border-radius: 9px;
    border: 5px solid #593796;
    background: #9A6DEA;
    box-shadow: 0px 2px 2px 1px #000 inset;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;  
    margin-bottom: 20px;
}

.words-viewparticipants{
    padding-left: 30px; 
}

.code-viewparticipants{
    font-size: 25px;
    color: #fff;
}

.clicked{
    border: 5px solid #FFC658;
}