.main-viewcustomwords{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viewcustomwords-top-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 20px;
}

.main-container-viewcustomwords{
    border-radius: 22px 22px 22px 22px;
    background: #95A299;
    padding: 10px; 
}

.main-border-view{
    box-shadow: inset 3px 3px 5px #000;
    border-radius: 22px;
    height: 500px;
    width: 600px;
    border: 10px solid #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(to top right, #461386, #B36DEA);
}

.word-container-scroll-viewcustomwords{
    height: 80%;
    width: 90%;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.word-container-viewcustomwords{
    height: 30px;
    width: 80%;
    border-radius: 9px;
    border: 5px solid #593796;
    background: #9A6DEA;
    box-shadow: 0px 2px 2px 1px #000 inset;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;  
    margin-bottom: 20px;
}

.words-viewcustomwords{
    padding-left: 30px; 
}